In [0]:
# There is no need to run this chunk of code.
import os
wd=''
os.chdir(wd)
%run HW1_solutions.ipynb

## Homework 1 Submission
Write your name and surname below:
<br>
Name: Elen
<br>
Surname: Pluzyan

***Problem 1:*** <br> Write a program that: <br>
a. compares the lengths of two texts given below (i.e. the number of characters in each text) <br>
b. compares the numbers of words in each text<br>
c. calculates the frequency of each word (the number of times the word appears in the text) in each text and puts them in a dictionary <br>
d. prints the number of unique words used in each text as a dictionary.
<br>
Example 1: {"The legth of text a": 487,"The legth of text b": 562}<br>
Example 2: Word frequency- {"Jovi":2,"in": 4}

In [0]:
a = 'Bon Jovi is an American rock band formed in 1983 in Sayreville, New Jersey. \
It consists of singer Jon Bon Jovi, keyboardist David Bryan, drummer Tico Torres, \
guitarist PhilX, and bassist Hugh McDonald. Previous bassist Alec John Such was \
dismissed in 1994, and longtime guitarist and co-songwriter Richie Sambora left in 2013.'

b = "Ronald Wilson Reagan (/ˈreɪɡən/; February 6, 1911 – June 5, 2004) \
was an American politician who served as the 40th president of the United \
States from 1981 to 1989. Prior to his presidency, he was a Hollywood actor \
and union leader before serving as the 33rd governor of California from 1967 to 1975."

In [0]:
###_____________Start code here_________________###

In [0]:
#a

len(a)

326

In [0]:
len(b)

301

In [0]:
if len(a)>len(b):
    print("text a is longer")
elif len(a)<len(b):
    print("text b is longer")
else:
    print("both texts are equal")

text a is longer

In [0]:
#b
len(a.split())

52

In [0]:
len(b.split())

53

In [0]:
if len(a.split())>len(b.split()):
    print("the number of words in a is bigger")
elif len(a.split())<len(b.split()):
    print("the number of words in b is bigger")
else:
    print("both texts are equal")

the number of words in b is bigger

In [96]:
#c
import collections

c1=a.split()
c2=b.split()

collections.Counter(c1)

Counter({'1983': 1,
         '1994,': 1,
         '2013.': 1,
         'Alec': 1,
         'American': 1,
         'Bon': 2,
         'Bryan,': 1,
         'David': 1,
         'Hugh': 1,
         'It': 1,
         'Jersey.': 1,
         'John': 1,
         'Jon': 1,
         'Jovi': 1,
         'Jovi,': 1,
         'McDonald.': 1,
         'New': 1,
         'PhilX,': 1,
         'Previous': 1,
         'Richie': 1,
         'Sambora': 1,
         'Sayreville,': 1,
         'Such': 1,
         'Tico': 1,
         'Torres,': 1,
         'an': 1,
         'and': 3,
         'band': 1,
         'bassist': 2,
         'co-songwriter': 1,
         'consists': 1,
         'dismissed': 1,
         'drummer': 1,
         'formed': 1,
         'guitarist': 2,
         'in': 4,
         'is': 1,
         'keyboardist': 1,
         'left': 1,
         'longtime': 1,
         'of': 1,
         'rock': 1,
         'singer': 1,
         'was': 1})

In [0]:
collections.Counter(c2)

Counter({'(/ˈreɪɡən/;': 1,
         '1911': 1,
         '1967': 1,
         '1975.': 1,
         '1981': 1,
         '1989.': 1,
         '2004)': 1,
         '33rd': 1,
         '40th': 1,
         '5,': 1,
         '6,': 1,
         'American': 1,
         'California': 1,
         'February': 1,
         'Hollywood': 1,
         'June': 1,
         'Prior': 1,
         'Reagan': 1,
         'Ronald': 1,
         'States': 1,
         'United': 1,
         'Wilson': 1,
         'a': 1,
         'actor': 1,
         'an': 1,
         'and': 1,
         'as': 2,
         'before': 1,
         'from': 2,
         'governor': 1,
         'he': 1,
         'his': 1,
         'leader': 1,
         'of': 2,
         'politician': 1,
         'presidency,': 1,
         'president': 1,
         'served': 1,
         'serving': 1,
         'the': 3,
         'to': 3,
         'union': 1,
         'was': 2,
         'who': 1,
         '–': 1})

In [0]:
#d
import collections
d=a.split()
g=set(d)
collections.Counter(g)

Counter({'1983': 1,
         '1994,': 1,
         '2013.': 1,
         'Alec': 1,
         'American': 1,
         'Bon': 1,
         'Bryan,': 1,
         'David': 1,
         'Hugh': 1,
         'It': 1,
         'Jersey.': 1,
         'John': 1,
         'Jon': 1,
         'Jovi': 1,
         'Jovi,': 1,
         'McDonald.': 1,
         'New': 1,
         'PhilX,': 1,
         'Previous': 1,
         'Richie': 1,
         'Sambora': 1,
         'Sayreville,': 1,
         'Such': 1,
         'Tico': 1,
         'Torres,': 1,
         'an': 1,
         'and': 1,
         'band': 1,
         'bassist': 1,
         'co-songwriter': 1,
         'consists': 1,
         'dismissed': 1,
         'drummer': 1,
         'formed': 1,
         'guitarist': 1,
         'in': 1,
         'is': 1,
         'keyboardist': 1,
         'left': 1,
         'longtime': 1,
         'of': 1,
         'rock': 1,
         'singer': 1,
         'was': 1})

In [0]:
fm=b.split()
j=set(b)
collections.Counter(fm)

Counter({'(/ˈreɪɡən/;': 1,
         '1911': 1,
         '1967': 1,
         '1975.': 1,
         '1981': 1,
         '1989.': 1,
         '2004)': 1,
         '33rd': 1,
         '40th': 1,
         '5,': 1,
         '6,': 1,
         'American': 1,
         'California': 1,
         'February': 1,
         'Hollywood': 1,
         'June': 1,
         'Prior': 1,
         'Reagan': 1,
         'Ronald': 1,
         'States': 1,
         'United': 1,
         'Wilson': 1,
         'a': 1,
         'actor': 1,
         'an': 1,
         'and': 1,
         'as': 2,
         'before': 1,
         'from': 2,
         'governor': 1,
         'he': 1,
         'his': 1,
         'leader': 1,
         'of': 2,
         'politician': 1,
         'presidency,': 1,
         'president': 1,
         'served': 1,
         'serving': 1,
         'the': 3,
         'to': 3,
         'union': 1,
         'was': 2,
         'who': 1,
         '–': 1})

In [0]:
###_____________End code here_________________###

In [0]:
# There is no need to run this chunk of code.
ex1(a,b)

NameError: ignored

***Problem 13:*** Write a program to calculate the sum of the digits of a number  until it is a single-digit number (Example: **199** -> 1+9+9=**19** -> 1+9=**10** -> 1+0=**1**). Let the program print the result of each step (the bolded numbers in the example). Run the program for 289, 1011, 3333.

In [0]:
###_____________Start code here_________________###

In [0]:
def digitsum(numb): 
    sum = 0
    while(numb > 0 or sum > 9): 
        if(numb == 0): 
            numb = sum
            print(sum)
            sum = 0
        sum += int(numb % 10)
        numb /= 10
    return sum
  
print(digitsum(289))

19
10
1

In [0]:
###_____________End code here_________________###

In [0]:
# There is no need to run this chunk of code.
ex13(289)
ex13(1011)
ex13(3333)

***Problem 14:*** Write a program to print a chess board where **"X"s** are black squares and **"O"s** are white ones. Hint: you can use "end" parameter of print() function to print on the same line and separate the outputs of different prints by space or any character you want. More on this topic here: https://www.geeksforgeeks.org/gfact-50-python-end-parameter-in-print/.
<br>The output should be like this:
<img src="chess.jpg" style="width: 200px;">

In [0]:
###_____________Start code here_________________###

In [18]:
for i in range(8):
    for j in range(4):
        if i%2==0:  
            print("O    ", end="X    ")
        else:
            print("X    ", end="O    ")
    print("\n")

O    X    O    X    O    X    O    X

X    O    X    O    X    O    X    O

O    X    O    X    O    X    O    X

X    O    X    O    X    O    X    O

O    X    O    X    O    X    O    X

X    O    X    O    X    O    X    O

O    X    O    X    O    X    O    X

X    O    X    O    X    O    X    O

In [0]:
###_____________End code here_________________###

In [0]:
# There is no need to run this chunk of code.
ex14()

***Problem 15:*** Write a program to reverse the digits of a given integer without using any built-in function or slicing. (**Example**: 12345 to 54321). Run the program for 4815162342.

In [0]:
###_____________Start code here_________________###

In [6]:
def reverse_num(num):
  r_num = 0
  while(num > 0) :
    digit=int(num%10)
    r_num=r_num*10+digit
    num=int(num/10)
  return r_num
print(reverse_num(4815162342))

2432615184

In [0]:
###_____________End code here_________________###

In [0]:
# There is no need to run this chunk of code.
ex15(4815162342)

***Problem 17:*** Write a function that will find all numbers between A and B (inclusive) such that each digit of the number is even. For example foo(20,26) returns [22,24,26]. Call the function for A=40 and B=140. 0 is even number.

In [0]:
###_____________Start code here_________________###

In [191]:
def even(a,b):
    lst1=[]
    for i in range(a+1,b+1):
            help=0
            for j in str(i):
                if int(j)%2==0:
                    help+=1
            if(help==len(str(i))):
                lst1.append(i)                     
    print(lst1)
                
even(40,140)

[42, 44, 46, 48, 60, 62, 64, 66, 68, 80, 82, 84, 86, 88]

In [0]:
###_____________End code here_________________###

In [0]:
# There is no need to run this chunk of code.
ex17(40,140)

***Problem 18:*** On basic cell phones numeric keypad is used to write a message. Write a function to output the numerical sequence of the keys to be pressed for any message. For instance, numerical sequence for typing "P" will be 7 and for "I" 444. Another example, the sequence for "hello" will be 4433555555666. Make the input text uppercase before converting to numerical sequence. Call the function for the following input **"HI DEAR! I WILL BE LATE TODAY."**

| Key | Symbols |
|----|----|
|1|. , ? ! :|
|2|A B C|
|3|D E F|
|4|G H I|
|5|J K L|
|6|M N O|
|7|P Q R S|
|8|T U V|
|9|W X Y Z|
|0| space |

In [0]:
###_____________Start code here_________________###

In [193]:
def funct(string):
    dict1={ "1":[".",",","?","!",":"],"2":["A","B","C"],"3":["D","E","F"],"4":["G","H","I"],"5":["J","K","L"], "6":["M","N","O"],"7":["P","Q","R","S"], "8":["T","U","V"],"9":["W","X","Y","Z"]}
    l1=[]
    string = string.upper()
    for i in list(string):
        for j in dict1.values():
            for k in j:
                if i==k:
                    for l in dict1.keys():
                        if k in dict1[l]:
                            index=j.index(k) + 1
                            num=l*index
                            l1.append(num)
    code=",".join(l1)
    print(code)

                                            
funct("HI DEAR! I WILL BE LATE TODAY.")

44,444,3,33,2,777,1111,444,9,444,555,555,22,33,555,2,8,33,8,666,3,2,999,1

In [0]:
###_____________End code here_________________###

In [0]:
# There is no need to run this chunk of code.
print(ex18("HI DEAR! I WILL BE LATE TODAY."))

***Problem 20:*** Write a program that accepts a sentence and prints the number of letters and digits in it. Run the program for "1, 2, 3, 4... Let's run the code!"

In [0]:
###_____________Start code here_________________###

In [136]:
input_string = "1, 2, 3, 4... Let's run the code!"
dig=0
let=0
for i in input_string:
    if i.isdigit():
        dig+=1
    elif i.isalpha():
        let+=1
    else:
        pass
print("There are " + str(let) + " latters in the sentence")
print("There are " + str(dig) + " digits in the sentence")

There are 14 latters in the sentence
There are 4 digits in the sentence

In [0]:
###_____________End code here_________________###

In [0]:
# There is no need to run this chunk of code.
ex20("1, 2, 3, 4... Let's run the code!")

***Problem 22:*** Two people throw two six-sided fair dices each. The one with greater sum wins, and if the sum is equal, they draw. Write a program that simulates the game and plays 100 time. Print the number of wins of Player 1, Player 2 and draws.

In [0]:
###_____________Start code here_________________###

In [116]:
import random
import numpy as num
sum1 = []
sum2 = []
sum3 = []
sum4 = []
winP1= 0
winP2 = 0
draw = 0
for i in range(100):
    sum1.append(random.randint(1,6))
    sum2.append(random.randint(1,6))
    sum3.append(random.randint(1,6))
    sum4.append(random.randint(1,6))
sum5 = num.add(sum1, sum2) 
sum6 = num.add(sum2, sum3)
for r in range(100):
    if sum5[r] > sum6[r]:
        winP1 += 1
    elif sum5[r] < sum6[r]:
        winP2 += 1
    elif sum5[r] == sum6[r]:
        draw += 1
print("Player 1 won " + str(winP1) + " times")
print("Player 2 won " + str(winP2) + " times")
print("Draws were " + str(draw) + " times")

Player 1 won 46 times
Player 2 won 38 times
Draws were 16 times

In [0]:
###_____________End code here_________________###

In [0]:
# There is no need to run this chunk of code.
ex22()

***Problem 23:*** Write a program that randomly generates a nine-character password. First 3 characters must be from the set "let", second 3 characters from the set "num", last three ones from the set "sym". Set seed() to 42 and generate a password.

In [0]:
let = {'A','B','C','a','b','c'}
num = {1,2,3,4,5,6}
sym = {'!','@','#','$','%','^'}

In [0]:
###_____________Start code here_________________###

In [184]:

newlet=list(let)
newnum=list(num)
newsym=list(sym)

pswd = []

from random import randint
a=randint(0, 5)

from random import randint
b=randint(0, 5)

from random import randint
c=randint(0, 5)

pswd=newlet[a]+newlet[b]+newlet[c]+str(newnum[a])+str(newnum[b])+str(newnum[c])+newsym[a]+newsym[b]+newsym[c]
pswd

'BCB161%$%'

In [0]:
###_____________End code here_________________###

In [0]:
# There is no need to run this chunk of code.
ex23()


***Problem 24:*** Write a program to find all the numbers divisible by 6 but not a multiple of 5 between 100 and 500 (inclusive). Print the numbers as a comma-separated string.

In [0]:
###_____________Start code here_________________###

In [8]:
div_by_six=[i for i in range(100,501) if i%6==0 and i%5!=0]
str_div=str(div_by_six)
print(str_div)

[102, 108, 114, 126, 132, 138, 144, 156, 162, 168, 174, 186, 192, 198, 204, 216, 222, 228, 234, 246, 252, 258, 264, 276, 282, 288, 294, 306, 312, 318, 324, 336, 342, 348, 354, 366, 372, 378, 384, 396, 402, 408, 414, 426, 432, 438, 444, 456, 462, 468, 474, 486, 492, 498]

In [0]:
###_____________End code here_________________###

In [0]:
# There is no need to run this chunk of code.
ex24()

***Example 25:*** Write a program that converts "firstname lastname" to "lastname, firstname", using list comprehensions.

In [0]:
ls = ['Հրաչյա Վարդանյան', 'Անուշ Կարապետյան', 'Գոռ Անտոնյան', 'Տաթեւ Հարությունյան', 'Mary Sargsyan']

In [0]:
###_____________Start code here_________________###

In [199]:
ls = ['Հրաչյա Վարդանյան', 'Անուշ Կարապետյան', 'Գոռ Անտոնյան', 'Տաթեւ Հարությունյան', 'Mary Sargsyan']
def revname(ls):
    ls2=""
    for a in ls:
        i = a.index(" ")
        w1 = a[0:i]
        w2 = a[i+1:]
        s=w2+" "+w1+" "
        ls2=str(ls2)+s
    return ls2.split()
print(revname(ls))

['Վարդանյան', 'Հրաչյա', 'Կարապետյան', 'Անուշ', 'Անտոնյան', 'Գոռ', 'Հարությունյան', 'Տաթեւ', 'Sargsyan', 'Mary']

In [0]:
###_____________End code here_________________###

In [0]:
# There is no need to run this chunk of code.
ex25(ls)

***Problem 27:*** Write a function to devide an input list of ages between 0 and 70 into 4 groups.<br><br>
Baby Boomers  - (50 to 70 years old]<br>
Generation X - (34 to 50 years old]<br>
Generation Y - (18 to 34 years old]<br>
Generation Z - [0 to 18 years old]<br>

Return a dictionary with the following structure:
{'Group 1':[ages],'Group 2':[ages],'Group 3':[ages],'Group 4':[ages]}

In [0]:
ls = [18,29,3,14,69,10,1,58,52,23,24,5,65]
###_____________Start code here_________________###

In [202]:
def divide(lst):
    baby_boomers=[]
    generation_x=[]
    generation_y=[]
    generation_z=[]
    for age in lst:
        if age>50 and age<=70:
            baby_boomers.append(age)
        elif age>35 and age<=50:
            generation_x.append(age)
        elif age>18 and age<=34:
            generation_y.append(age)
        elif age>=0 and age<=18:
            generation_z.append(age)
    age_dict={'Group 1':baby_boomers,'Group 2':generation_x,'Group 3':generation_y,'Group 4':generation_z}
    print(age_dict)
divide(ls)

{'Group 1': [69, 58, 52, 65], 'Group 2': [], 'Group 3': [29, 23, 24], 'Group 4': [18, 3, 14, 10, 1, 5]}

In [0]:
###_____________End code here_________________###

In [0]:
# There is no need to run this chunk of code.
ex27(ls)